#featured {
	margin-bottom: 50px;

	.featured-slider {

		.featured-slide {
			img {
				width: 100%;
				max-width: 100%;
			}

			.title-card {
				text-align: center;

				img {
					border-radius: 50%;
					margin-bottom: 20px;
					width: 88px;
					height: 88px;
				}
			}

			h2 {
				position: absolute;
				top: 0;
				color: white;
				background-color: rgba(0,0,0,0.5);
				width: 100%;
				padding: 20px;
				text-align: center;
			}
		}
	}

	// .featured-controls {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	position: absolute;
	// 	top: 50%;
	// 	z-index: 1;

		.featured-control {
			background: rgba(0,0,0,0.5);
			display: inline-block;
			padding: 20px;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			z-index: 1;

			svg {
				width: 30px;

				path {
					fill: white;
				}
			}
			
			&.prev {
				left: 0%;
				margin-left: 16px;
			}

			&.next {
				left: 75%;
				transform: translate(-100%, -50%);
				margin-left: -15px;
			}
	//	}
	}

	.tns-outer {
		.tns-controls {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 1;

			button {
				background-color: transparent;
				border: 0;
				font-size: 3rem;
				padding: 0 32px;
				margin: 0px 30px;
			}
		}
	}

}

#channels {
	.channel {
		border-bottom: 1px solid $gray-700;
		padding-bottom: 50px;
		margin-bottom: 50px;

		.title-card {
			margin-bottom: 20px;
			text-align: center;

			img {
				border-radius: 50%;
				margin-bottom: 20px;
				width: 88px;
				height: 88px;
			}
		}

		
	}

	.tns-outer {
		.tns-controls {
			position: absolute;
			right: 104%;
			bottom: 0;
			z-index: 1;
			width: 30%;

			button {
				background-color: transparent;
				border: 0;
				font-size: 3rem;
				width: 50%;
			}
		}
	}

	// .tns-outer {
	// 	.tns-controls {
	// 		position: absolute;
	// 		top: 20%;
	// 		z-index: 1;
	// 		width: 100%;

	// 		button {
	// 			color: white;
	// 			background-color: transparent;
	// 			border: 0;
	// 			font-size: 5rem;
	// 			padding: 0 20px;
	// 			margin: 0px 15px;

	// 			&:last-child {
	// 				position: absolute;
	// 				right: 0;
	// 			}

	// 			&:disabled {
	// 				opacity: 0.5;
	// 			}
	// 		}
	// 	}
	// }
}

.channel-social {
	display: inline-block;
	margin: 8px;
	width: 24px;

	&.patreon {
		svg path { fill: #f96854; }
	}

	&.twitter {
		svg path { fill: #1DA1F2; }
	}

	&.website {
		svg path { fill: $gray-700; }
	}
}