body {
	background-color: $white;
	//color: $text-color;
	transition: all 0.2s linear;

	&.darkmode {
		background-color: $gray-900;
		color: $gray-100;
	}
}

.container-fluid {
	//max-width: 1750px;
	max-width: 100%;
}

#content {
	.container {
		padding: 100px 15px;
		
		p {
			font-size: 18px;
		}
	}
}

#featured {

	.featured-slider {

		.featured-slide {
			img {
				width: 100%;
				max-width: 100%;
			}

			.title-card {
				text-align: center;

				img {
					border-radius: 50%;
					margin-bottom: 20px;
					width: 88px;
					height: 88px;
				}
			}

			h2 {
				position: absolute;
				top: 0;
				color: white;
				background-color: rgba(0,0,0,0.5);
				width: 100%;
				padding: 20px;
				text-align: center;
			}
		}

	}

	// .featured-controls {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	position: absolute;
	// 	top: 50%;
	// 	z-index: 1;

	.featured-control {
		background: rgba(0,0,0,0.5);
		display: inline-block;
		padding: 15px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 1;
		width: 50px;
		border-radius: 50%;
		text-align: center;

		svg {
			width: 10px;

			path {
				fill: white;
			}
		}
		
		&.prev {
			right: 20%;
			margin-left: 16px;
		}

		&.next {
			right: 0;
			transform: translate(-100%, -50%);
			margin-left: -15px;
		}
	}

	.tns-outer {
		.tns-controls {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 1;

			button {
				background-color: transparent;
				border: 0;
				font-size: 3rem;
				padding: 0 32px;
				margin: 0px 30px;
			}
		}
	}

}
