// a.card {
// 	text-decoration: none;
// }

// .card {
// 	border-radius: 0 !important;

// 	.card-img, 
// 	.card-img-top {
// 		border-radius: 0 !important;
// 	}

// 	.media {
// 		img {
// 			border-radius: 50%;
// 		}
// 	}
// }

.card.video {
	border: 0;
	background-color: transparent;
	display: block;
	transition: background-color 0.1s;
	width: 320px;
	

	&:hover {
		text-decoration: none;

		.card-img-back {
			svg {
				opacity: 1;
			}
		}
	}

	.card-img, 
	.card-img-bottom, 
	.card-img-top {
		
	}

	.card-img-back {
		background-color: $gray-300;
		position: relative;
		width: 320px;
		height: 180px;

		img {
			position: absolute;
			top: 0;
			left: 0;
		}

		svg {
			border-radius: 50%;
			opacity: 0;
			box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25);
			transition: opacity 0.1s linear;
			width: 74px;
			@include center();

			path {
				fill: $white;

				&.fa-primary {
					fill: $gray-800;
				}
			}
		}

	}

	.card-body {
		//border: 1px solid $gray-300;
		height: 103px;
		padding: 10px;
		position: relative;
		color: $gray-700;
		transition: color 0.2s linear;

		p {
			font-weight: bold;
		}

		span {
			position: absolute;
			bottom: 10px;
			left: 10px;
			font-size: 14px;
		}
	}
}