// a.card {
// 	text-decoration: none;
// }

// .card {
// 	border-radius: 0 !important;

// 	.card-img, 
// 	.card-img-top {
// 		border-radius: 0 !important;
// 	}

// 	.media {
// 		img {
// 			border-radius: 50%;
// 		}
// 	}
// }

.card.video {
	border: 0;
	background-color: transparent;
	transition: background-color 0.1s;
	width: 320px;
	

	&:hover {
		background-color: rgba(0,0,0,0.1);
		text-decoration: none;
	}

	.card-img, 
	.card-img-bottom, 
	.card-img-top {
		
	}

	.card-img-back {
		background-color: $gray-300;
		width: 320px;
		height: 180px;
		
		img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.card-body {
		//border: 1px solid $gray-300;
		padding: 10px;

		span {

		}
	}
}