/**
 *
 */

 #channels {
	.channel {
		// border-bottom: 1px solid $gray-700;
		padding-bottom: 50px;
		margin-bottom: 50px;

		.title-card {
			margin-bottom: 20px;
			text-align: center;

			img {
				border-radius: 50%;
				margin-bottom: 20px;
				width: 88px;
				height: 88px;
			}
		}

		.channel-wrap {
			display: flex;
			//justify-content: space-between;
			
			.card {
				margin-right: 20px;

				&:last-child {
					margin: 0;
				}
			}
		}

		.channel-overflow {
			overflow: hidden;
			white-space: nowrap;
		}

		.channel-control {
			background: rgba(0,0,0,0.5);
			display: inline-block;
			padding: 10px;
			z-index: 1;
			width: 40px;
			border-radius: 50%;
			text-align: center;
			position: absolute;
			top: 40%;
	
			svg {
				width: 10px;
	
				path {
					fill: white;
				}
			}
			
			&.prev {
				left: 0;
			}
	
			&.next {
				right: 0;
			}
		}

	}

	.tns-outer {
		.tns-controls {
			position: absolute;
			right: 104%;
			bottom: 0;
			z-index: 1;
			width: 30%;

			button {
				background-color: transparent;
				border: 0;
				font-size: 3rem;
				width: 50%;
			}
		}
	}

	// .tns-outer {
	// 	.tns-controls {
	// 		position: absolute;
	// 		top: 20%;
	// 		z-index: 1;
	// 		width: 100%;

	// 		button {
	// 			color: white;
	// 			background-color: transparent;
	// 			border: 0;
	// 			font-size: 5rem;
	// 			padding: 0 20px;
	// 			margin: 0px 15px;

	// 			&:last-child {
	// 				position: absolute;
	// 				right: 0;
	// 			}

	// 			&:disabled {
	// 				opacity: 0.5;
	// 			}
	// 		}
	// 	}
	// }
}

.channel-social {
	display: inline-block;
	margin: 8px;
	width: 24px;

	&.patreon {
		svg path { fill: #f96854; }
	}

	&.twitter {
		svg path { fill: #1DA1F2; }
	}

	&.website {
		svg path { fill: $gray-700; }
	}
}