#filters {

	margin-bottom: 20px;

	.btn {
		display: inline-block;
		width: 110px;
		margin-right: 20px;
	
		svg {
			margin-right: 10px;
			width: 19px;
			margin-top: -2px;
			display: inline-block;
		}

		span {
			font-weight: bold;
			display: inline-block;
		}
	}

	.input-group {
		flex: 1;
		margin: 0;

		.input-group-text {
			// background-color: white
		}

		svg {
			width: 18px;
			color: $black;
		}

		.form-control {
			height: auto;
		}
	}
}