.form-control {
	transition: all 0.2s;
}

.input-group-text {
	// background-color: white
	transition: all 0.2s;

	path {
		transition: all 0.2s;
	}
}


// /* Generic */
// // ::-webkit-input-placeholder { font-style: italic; }
// // :-moz-placeholder { font-style: italic; }
// // ::-moz-placeholder { font-style: italic; }
// // :-ms-input-placeholder { font-style: italic; }

// input[type=search],
// input[type=password],
// input[type=number],
// input[type=text],
// input[type=email],
// input[type=tel],
// input[type=date],
// input[type=time],
// input[type=url],
// input.input-text { 
// 	padding: 0px 12px; 
// }

// input[type=search],
// input[type=password],
// input[type=number],
// input[type=text],
// input[type=email],
// input[type=tel],
// input[type=date],
// input[type=time],
// input[type=url],
// input.input-text,
// select,textarea, 
// .select2 .select2-selection,
// .form-control {	
	
// 		flex: 1;
// 		background-color:$white;
// 		border: 1px solid $border-color;
// 		border-radius: 0;
// 		box-shadow: none;
// 		color: $text-color;
// 		font-size: 1.5rem;
// 		// line-height: 1;
// 		height: auto;
// 		display: inline-block;
// 		padding: 19px 20px 19px;
// 		max-width: 100%;
// 		text-align:left;
// 		vertical-align:top;

// 		&:focus { 
// 			outline: 0; 
// 			//border: 1px solid $orange;
// 		}
	
// }

// .select2 {

// 	&:before { 
// 		@include awesome-input("\f107", 16px, 16px);
// 	}

// 	.select2-selection__arrow {
// 		display: none;
// 	}



// 	&.select2-container--default {
// 		max-width: 100%;

// 		.select2-selection {
// 			width: 100%;
// 		}
		
// 		.select2-selection--single {
// 			border: 1px solid $border-color;
// 			border-radius: 0;
// 			height: auto;
// 			padding: 23px 10px;

// 			.select2-selection__rendered {
// 				color: $text-color;
// 				font-size: 1.5rem;
// 				line-height: 1;
// 			}
// 		}

// 		.select2-selection--multiple {
// 			border: 1px solid $gray-200;
// 			border-radius:0;
// 			padding: 4px 0;

// 			.select2-selection__choice {
// 				border: 0;
// 				span {
					
// 					color: $primary;
// 				}
// 			}

// 			.select2-selection__rendered {
// 				display: block;
// 			}
// 		}

// 		&.select2-container--focus .select2-selection--multiple {
// 			//border-color:$red; 

// 		}
// 	}

// }

// input[type=search],
// input[type=password],
// input[type=number],
// input[type=text],
// input[type=email],
// input[type=tel],
// input[type=date],
// input[type=time],
// input[type=url],
// textarea	{

// 	&:focus { 

// 	}

// 	&.no-focus {
// 		border-bottom: 0;
// 	}
// }

// textarea { 
// 	resize: none; 
// 	height:170px;
// 	width: 100%;
// }

// #error.alert,
// #success {
// 	display: none; 
// }



//Dropdowns
.jb-select { 
	background-color: $white;
	position: relative;
	


	&:before { 
		@include awesome-input("\f107", 16px, 16px);
	}

	select { 
		border: 0;
		position:relative; 
		cursor: pointer; 
		display: inline-block; 
		padding: 5px 30px 5px 5px; 
		outline: none; 
		-webkit-appearance: none;
		-moz-appearance: none; 
		-ms-appearance: none;
		width: 100%; 
		max-width:100%;

		&:-moz-focusring { 
			color: transparent; 
			text-shadow: 0 0 0 #000;
		}

		&.error { 
			border: 1px solid $red; 
		}

		&:focus, &.active { 
			//border-color:$red; 
		}

		&.placeholder { 
			color:$red; 
		}

		option { 
			padding: 4px 15px; 

			&:disabled { 
				display: none; 
			}
		}
	}
}

// .pk-table-select {
// 	position: relative;

// 	&:before { 
// 		@include awesome-input("\f107", 1.6rem, auto, $black);
// 		left: 0;
// 		font-weight: bold;
// 	}

// 	select { 
// 		border: 0 !important;
// 		position:relative; 
// 		cursor: pointer; 
// 		display: inline-block; 
// 		outline: none; 
// 		-webkit-appearance: none;
// 		-moz-appearance: none; 
// 		-ms-appearance: none;
// 		width: 100%; 
// 		max-width:100%;

// 		&:-moz-focusring { 
// 			color: transparent; 
// 			text-shadow: 0 0 0 #000;
// 		}

// 		&.error { 
// 			border: 1px solid $red; 
// 		}

// 		&:focus, 
// 		&.active { 
			
// 		}

// 		&.placeholder { 
			
// 		}

// 		option { 
// 			padding: 4px 15px; 

// 			&:disabled { 
// 				display: none; 
// 			}
// 		}
// 	}
// }

// .select2 {
// 	border: 0 !important;
// 	position:relative; 
// 	cursor: pointer; 
// 	display: inline-block; 
// 	outline: none; 
// 	-webkit-appearance: none;
// 	-moz-appearance: none; 
// 	-ms-appearance: none;
// 	width: 100%; 
// 	max-width:100%;
// }


// ul.inputs-list {
// 	list-style: none;
// }

// label.hs-form-checkbox-display {
// 	input[type="checkbox"] {
// 		margin-right: 5px;
// 	}
// }

// label {
// 	font-family: $opensans; 
// 	font-size: 1.5rem; 
// 	font-weight: bold; 
// 	display: block; 
// 	line-height: 1.4;
	
// }

// input.form-control { 
// 	border-radius: 0; 
// }

// textarea.form-control { 
// 	padding: 20px; 
// }

// // input.form-control:focus,
// // textarea.form-control:focus,
// // .pk-style select:focus { 
// // 	box-shadow: none; 
// // 	border: 1px solid $primary; 
// // 	outline: 0;
// // }

// .awesome-input {
// 	position: relative;
	
// 	input {
// 		padding-left: 45px;
// 	}

// 	&:before { 
// 		@include awesome-input("\f002", 16px, 16px);
// 		right: auto;
// 		left: 20px;
// 		color: $black;
// 	}
// }

// /* Apply to a checkbox to use FontAwesome icons */
// input.awesomebox { display: none;

// 	+ label {
// 		cursor: pointer;
// 		@include user-select(none);
// 		padding-left: 40px;  

// 		&:before { 
// 			font-family: $font-awesome; 
// 			position: absolute; 
// 			left: 12px;
// 		}
// 	}

// 	&[type=radio] + label:before {
// 		content: "\f111";

// 	}

// 	&[type=checkbox] + label:before {
// 		content: "\f0c8";
// 	}

// 	&:checked + label:before { 
// 		margin-right: 6.5px;
// 		font-weight: bold;
// 	}

// 	&[type=radio]:checked + label:before {
// 		content: "\f192";
// 	}

// 	&[type=checkbox]:checked + label:before {
// 		content: "\f14a";
// 	}
// }

// .site-form {
// 	.required {
// 		color: red;
// 		// font-family: $ubuntu;
// 		// font-size: 2rem;
// 	}

// 	.form-control.error {
// 		border-color: red;
// 	}

// 	label.error {
// 		color: red;
// 		font-size: 1.4rem;
// 		font-weight: normal;
// 		font-style: italic;
// 	}
// }

// // This includes various custom forms around the site that are on a gray background
// .site-form {
// 	background-color: $white;

// 	.form-row {
// 		margin-bottom: 10px;
// 	}

// 	@include media-breakpoint-down(md) { padding:70px; }
// 	@include media-breakpoint-down(sm) { padding:50px; 
// 		.form-row > [class^="col-"] 		{ margin-bottom:10px; }
// 	}
// 	@include media-breakpoint-down(xs) { padding:40px 15px; }
// }


// .error	{
// 	width: 100%; 
// }

// .input-group {

// 	input {
// 		box-shadow: none;
// 		padding-right: 0;
// 	}

// 	.input-group-text	{
// 		padding: 0 15px;
// 		font-size: 1.5rem; 
// 		background-color: $white;
// 		color: $black; 
// 		border: 0; 
// 	}

// 	.input-group-prepend,
// 	.input-group-append {
// 		font-size: 1.5rem; 
// 		background-color: $white;
// 		color: $black; 
// 		align-items: center;
// 		border: 0; 

// 		.btn,
// 		button {
// 			background-color: $white;
// 			color: $primary; 
// 			border: 0; 
// 			padding: 0 20px;
// 		}
// 	}
// }



// .pk-autocomplete {
// 	.list-group-item {
// 		cursor: pointer;

// 		&:hover {
// 			background-color: $gray-100;
// 		}
// 	}
// }